body, html {
    margin: 0px;
    font-family: "Trebuchet MS";
    margin: 0px;
    background-color: white;
    height: 100%;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
